<section data-ng-controller="CommissionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Commissions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="commission in commissions" data-ng-href="#!/commissions/{{commission._id}}" class="list-group-item">
		    	<h4 class="list-group-item-heading" data-ng-bind="commission.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!commissions.$resolved || commissions.length">
    	Aun no tienes Comisiones <a href="/#!/commissions/create">crea una</a>
    </div>
</section>
